*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
    margin: 175px auto;
    margin-bottom: 50px;
    background: white;
    width: 900px;
    height: 600px;
    display: flex;
    border-radius: 25px;
    align-items: stretch;
    box-shadow: -20px 25px 18px -11px #272727b5
}

.col1 {
    width: 100%;
    background: url(images/bg-pattern-desktop.svg) -345px -180px / 746px 860px no-repeat, url(images/illustration-woman-online-desktop.svg) -80px 120px/ 480px 360px no-repeat;
    flex-grow: 2;
}

.col2 {
    width: 1000px;
}

.box {
    transform: translate(-90px, 255px);
}

.title {
    padding-top: 120px;
    padding-bottom: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

.faq {
    max-width: 450px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.question h3 {
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10px
}

.answer p {
    padding-top: 1rem;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.faq.active .answer {
    max-height: 250px;
    transition: max-height 1.5s ease-out;
}

.faq.active .arrow {
    transform: rotate(180deg);
}

.arrow {
    transition: transform .15s ease-in;
}